<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <% include ../views/partials/_header %>
</head>

<body>

  <ul>
    <% Object.keys(urls).forEach(function(key) {%>
      <% if (urls[key].user === email) {%>
        <li>
          <a href="<%= urls[key].longURL %>">
            <%= key %>
          </a> --->
          <%= urls[key].longURL %>
            <% console.log("urls key", key) %>

              <a href="/urls/<%= key %>">Edit</a>

              <form method="POST" action="/urls/<%= key %>/delete">
                <input type="Submit" name="Delete" value="Delete"></form>

              <br></br>
        </li>
        <% }}); %>
  </ul>
  <a href="/urls/new">Click here to shorten your links</a>
</body>

</html>
